[submodule "my-skills"]
	path = my-skills
	url = https://github.com/shtmjp/my-skills.git
[submodule "documents/docs-taq-analysis"]
	path = documents/docs-taq-analysis
	url = git@github.com:shtmjp/docs-taq-analysis.git
